In [45]:
import pandas as pd

In [46]:
dataset = pd.read_csv('50_Startups.csv')

In [47]:
dataset.head(5)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [48]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 5 columns):
R&D Spend          50 non-null float64
Administration     50 non-null float64
Marketing Spend    50 non-null float64
State              50 non-null object
Profit             50 non-null float64
dtypes: float64(4), object(1)
memory usage: 2.1+ KB

In [49]:
dataset.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [50]:
X = dataset[['R&D Spend', 'Administration', 'Marketing Spend', 'State']]

In [51]:
y = dataset['Profit']

In [40]:
X = pd.get_dummies(X)
X.head(2)

,R&D Spend,Administration,Marketing Spend,State_California,State_Florida,State_New York
0,165349.2,136897.80,471784.10,0,0,1
1,162597.7,151377.59,443898.53,1,0,0

In [41]:
X.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State_California',
       'State_Florida', 'State_New York'],
      dtype='object')

In [43]:
X = X[['R&D Spend', 'Administration', 'Marketing Spend', 'State_California',
       'State_Florida']]

In [44]:
X.head(2)

   R&D Spend  Administration  Marketing Spend  State_California  State_Florida
0   165349.2       136897.80        471784.10                 0              0
1   162597.7       151377.59        443898.53                 1              0

In [52]:
X = pd.get_dummies(X , drop_first= True)

In [53]:
X.head(2)

   R&D Spend  Administration  Marketing Spend  State_Florida  State_New York
0   165349.2       136897.80        471784.10              0               1
1   162597.7       151377.59        443898.53              0               0

In [54]:
from sklearn.model_selection import train_test_split

In [55]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=42)

In [56]:
from sklearn.linear_model import LinearRegression

In [57]:
mind = LinearRegression()

In [58]:
mind.fit(X_train , y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [61]:
mind.score(X_test , y_test)

0.8987266414328637

In [62]:
import joblib

In [64]:
joblib.dump(mind , 'house_price_prediction.pk1')

['house_price_prediction.pk1']

In [65]:
X.columns

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State_Florida',
       'State_New York'],
      dtype='object')